body{
font-family: 'Roboto Condensed', sans-serif;
}
.page-margin{
margin-left: 10px;
}
.logo{
font-size: 30px;
}
.card{
    height: 400px;
    overflow: hidden;
}
.card-image{
    height: 230px;
    overflow: hidden;
}
.card-content{
    overflow: hidden;
    height: 100px;
}

@media screen and (max-width: 480px){
    h1{
        font-size: 2em;
    }
    p{
        font-size: 0.9em;
    }
}
